# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# Virtualenv
venv/
env/
ENV/
.venv/
.ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# Migrations cache (исходники миграций всё-таки стоит коммитить!)
*.mo

# PyInstaller
dist/
build/

# dotenv
.env
.env.*
